/.mc-lists.el
/.python-environments/
/abbrev_defs
/ac-comphist.dat
/auto-save-list/
/bookmarks
/elpa/
/ido.last
/ido.last~
/recentf
/session.*
/smex-items
/url/
/elpa-*/
/init/*.elc
/init/local.el
*.elc
/snippets/*/.yas-compiled-snippets.el
/history
/eshell/
/var/
/tramp
/tldr/
/places
/network-security.data
