[submodule "lisp/boogie-friends"]
	path = lisp/boogie-friends
	url = https://github.com/boogie-org/boogie-friends.git
[submodule "lisp/easy-escape"]
	path = lisp/easy-escape
	url = https://github.com/cpitclaudel/easy-escape.git
[submodule "lisp/emacs-powerline"]
	path = lisp/emacs-powerline
	url = https://github.com/jonathanchu/emacs-powerline
[submodule "lisp/racket-mode"]
	path = lisp/racket-mode
	url = https://github.com/greghendershott/racket-mode.git
[submodule "lisp/company-coq"]
	path = lisp/company-coq
	url = https://github.com/cpitclaudel/company-coq.git
[submodule "lisp/PG"]
	path = lisp/PG
	url = git@github.com:ProofGeneral/PG.git
[submodule "lisp/biblio.el"]
	path = lisp/biblio.el
	url = git@github.com:cpitclaudel/biblio.el.git
[submodule "lisp/compact-docstrings"]
	path = lisp/compact-docstrings
	url = git@github.com:cpitclaudel/compact-docstrings.git
[submodule "lisp/litpy"]
	path = lisp/litpy
	url = git@github.com:cpitclaudel/litpy.git
[submodule "lisp/fstar.el"]
	path = lisp/fstar.el
	url = ssh://git@github.com/FStarLang/fstar-mode.el
[submodule "lisp/indirect-font-lock"]
	path = lisp/indirect-font-lock
	url = git@github.com:cpitclaudel/indirect-font-lock.git
[submodule "lisp/quick-peek"]
	path = lisp/quick-peek
	url = git@github.com:cpitclaudel/quick-peek.git
[submodule "lisp/presenter-mode/"]
	path = lisp/presenter-mode
	url = git@github.com:cpitclaudel/presenter-mode.git
[submodule "lisp/flycheck"]
	path = lisp/flycheck
	url = git@github.com:flycheck/flycheck.git
